
:root {
  // Base colours - active parties
  --nat:  #00529f;
  --lab: #d82a20;
  --gre: #098137;
  --act: #fde401;
  --nzf: #000000;
  --tpm: linear-gradient(to right, #000000 8px, #bf1d1f 8px);
  --top: #09b598;
  // Base colours - inactive parties
  --hea: #185533;
  --dnz: #30B6C1;
  --nzl: #FDB813;
  --nco: #00AEEF;
  --can: #33cc33;
  // Independent candidate
  --ind: #dcdcdc;
  // Unknown
  --unk: #ccc;

  --nat-safe:   var(--nat);
  --nat-likely: #407db7;
  --nat-lean:   #80a9cf;

  --lab-safe:   var(--lab);
  --lab-likely: #e25f58;
  --lab-lean:   #ec9590;

  --gre-safe:   var(--gre);
  --gre-likely: #47a169;
  --gre-lean:   #84c09b;

  --act-safe:   var(--act);
  --act-likely: #feeb41;
  --act-lean:   #fef280;

  --nzf-safe:   var(--nzf);
  --nzf-likely: #404040;
  --nzf-lean:   #808080;

  --tpm-safe:  var(--tpm);
  --tpm-likely: linear-gradient(to right, #404040 8px, #cf5557 8px);
  --tpm-lean:   linear-gradient(to right, #808080 8px, #df8e8f 8px);

  --top-safe:   var(--top);
  --top-likely: #47c8b2;
  --top-lean:   #84dacc;
}

@mixin party-colors($id) {
  .#{$id} { background: var(--#{$id}); }
  .#{$id}-safe { background: var(--#{$id}-safe); }
  .#{$id}-likely { background: var(--#{$id}-likely); }
  .#{$id}-lean { background: var(--#{$id}-lean); }
}

@include party-colors(nat);
@include party-colors(lab);
@include party-colors(gre);
@include party-colors(act);
@include party-colors(nzf);
@include party-colors(tpm);
@include party-colors(top);
@include party-colors(hea);
@include party-colors(dnz);
@include party-colors(nzl);
@include party-colors(nco);
@include party-colors(can);
@include party-colors(ind);
@include party-colors(unk);

.main-container {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .electorate-information {
    width: 300px;
    height: 700px;

    .electorate-header {
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        margin-left: auto;
      }

      .clear-button {
        background: none;
        border: none;
        font-weight: bold;
        cursor: pointer;
        margin-left: auto;
      }
    }
    
    .table-wrapper {
      display: flex;
      justify-content: center;

      table {
        width: 220px;
        height: fit-content;

        .party-box {
          margin-right: 4px;
        }

        .party-name {
          text-align: left;
          width: 130px;
        }

        .party-result {
          text-align: right;
          width: 55px;

          &.better {
            color: limegreen;
          }

          &.worse {
            color: red;
          }
        }
      }
    }
  }
}

.rating-group {
  justify-content: center;
  display: flex;
  .party-box:nth-of-type(1) {
    border-right: 0;
  }
  .party-box:nth-of-type(2) {
    border-left: 0;
    border-right: 0;

  }
  .party-box:nth-of-type(3) {
    border-left: 0;
  }
}

.main-svg {
  border: 1px solid white;
  touch-action: pan-x pan-y;
}

.hint {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 1000;
}



.load-ratings-modal {
  .modal-header {
    margin-top: 0;
  }

  .modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    &.mobile {
      grid-template-columns: 1fr;
    }
  }

}

.main-container.mobile {
  flex-direction: column-reverse;

  button {
    font-size: 14px;
    height: 60px;
  }
  
  .electorate-information {
    width: 100%;
    height: auto;
  }

  .seat-calculator-container {
    width: 100%;
    font-size: 11px;

    .party-name {
      width: 100px;
    }

    .party-vote {
      width: 70px;
      input {
        width: 40px;
      }
    }

    .num-seats {
      width: 40px;
    }
  }

  .checkbox-container {
    padding: 0 12px 0 30px;
    margin: 24px 0 0 12px;
  }
}

.electorate {
  stroke: #333;
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
    
  &:focus {
    outline: none;
  }
  
  &:hover {
    stroke-width: 2;
    opacity: 0.8;
  }
}

.hidden-map {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}

.hidden {
  display: none;
}

.menu {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  >hr {
    width: 100%;
    margin: 32px 0;
  }
}

.selector-container {
  display: flex;

  hr {
    margin: 0 16px;
  }
}

.party-settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 140px;
  margin-bottom: 10px;

  &:first-of-type {
    width: 160px;
  }

  .message {
    font-size: 14px;
    height: 100%;
    align-content: end;
  }
}

.selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  
    &.selected {
      font-weight: bold;

      .party-box.act::before, .party-box.act::after,
      .party-box.act-safe::before, .party-box.act-safe::after,
      .party-box.act-likely::before, .party-box.act-likely::after,
      .party-box.act-lean::before, .party-box.act-lean::after,
      .party-box.unk::before, .party-box.unk::after  {
        background: black;
      }

      .party-box::before, .party-box::after {
        content: "";
        position: absolute;
        margin-top: 8px;
        width: 14px;
        height: 2px;
        background: white;
        transform-origin: center;

      }

      .party-box::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      
      .party-box::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

.button-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 180px;
}

.mobile-options-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    select {
      height: 30px;
    }
  }

  .mobile-button-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 12px;
    justify-content: space-evenly;
  }
}

.seat-calculator-container {
  width: 525px;
  height: 700px;
  margin-bottom: 5.5px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;

  table {
    margin: 8px;
    border-spacing: 0 2px;

    .party-box {
      margin-right: 4px;
    }

    .party-name {
      text-align: left;
      width: 110px;
    }

    .party-vote {
      width: 100px;
      input {
        width: 60px;
      }
    }

    .num-seats {
      width: 90px;
    }

    .total-seats {
      border-top: 1px solid;
    }
  }
  
  .button-container {
    width: 100%;
    flex-direction: row-reverse;

    button {
      width: 180px;
      margin: 12px 40px 0 0;
    }
  }

  .table-message {
    margin: auto 22px 8px;
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 28px;
  margin: 10px 0 6px;
  width: 200px;
  align-self: center;
  height: fit-content;
  cursor: pointer;
  user-select: none;

  span {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid white;
  }

  input:checked ~ span {
      &::before, &::after {
        display: block;
      }
  }

  span::before, span::after {
    content: "";
    position: absolute;
    display: none;
    margin-top: 8px;
    height: 2px;
    width: 14px;
    background: white;
    transform-origin: center;
  }
  
  span::before {
    transform: translate(5%, -50%) rotate(45deg);
  }
  
  span::after {
    transform: translate(5%, -50%) rotate(-45deg);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
  cursor: help;
  &:hover .tooltip-text {
    visibility: visible;
  }

  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #242424;
    border: 1px solid white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: -125px;
    top: -4px;
    z-index: 1;
  }
}

.party-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid white;
}

tr.party-box {
  display: block;
  margin: 8px 0;
}
