.main-container {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .electorate-information {
    width: 300px;
    height: 700px;

    .table-wrapper {
      display: flex;
      justify-content: center;

      table {
        width: 220px;
        height: fit-content;

        .party-box {
          margin-right: 4px;
        }

        .party-name {
          text-align: left;
          width: 130px;
        }

        .party-result {
          text-align: right;
          width: 55px;

          &.better {
            color: limegreen;
          }

          &.worse {
            color: red;
          }
        }
      }
    }
  }
}

.main-svg {
  border: 1px solid white;
  touch-action: pan-x pan-y;
}

.hint {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 1000;
}



.load-ratings-modal {
  .modal-header {
    margin-top: 0;
  }

  .modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    &.mobile {
      grid-template-columns: 1fr;
    }
  }

}

.main-container.mobile {
  flex-direction: column-reverse;

  button {
    font-size: 14px;
    height: 60px;
  }
  
  .electorate-information {
    width: 100%;
    height: auto;
  }

  .seat-calculator-container {
    width: 100%;
    font-size: 11px;

    .party-name {
      width: 100px;
    }

    .party-vote {
      width: 70px;
      input {
        width: 40px;
      }
    }

    .num-seats {
      width: 40px;
    }

    .button-container button {
      margin-right: 12px;
    }
  }

  .checkbox-container {
    padding: 0 12px 0 30px;
    margin: 24px 0 0 12px;
  }

}

.electorate {
  stroke: #333;
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
    
  &:focus {
    outline: none;
  }
  
  &:hover {
    stroke-width: 2;
    opacity: 0.8;
  }
}

.hidden-map {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}

.hidden {
  display: none;
}

.menu {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  >hr {
    width: 100%;
    margin: 32px 0;
  }
}

.selector-container {
  display: flex;

  hr {
    margin: 0 16px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 132px;
  margin-bottom: 10px;

  .message {
    font-size: 14px;
    height: 100%;
    align-content: end;
  }

  .selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  
    &.selected {
      font-weight: bold;

      .party-box.act::before, .party-box.act::after,
      .party-box.unk::before, .party-box.unk::after  {
        background: black;
      }

      .party-box::before, .party-box::after {
        content: "";
        position: absolute;
        margin-top: 8px;
        width: 14px;
        height: 2px;
        background: white;
        transform-origin: center;

      }

      .party-box::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      
      .party-box::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 180px;
}

.mobile-options-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    select {
      height: 30px;
    }
  }

  .mobile-button-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 12px;
    justify-content: space-evenly;
  }
}

.seat-calculator-container {
  width: 525px;
  height: 700px;
  margin-bottom: 5.5px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;

  table {
    margin: 8px;
    border-spacing: 0 2px;

    .party-box {
      margin-right: 4px;
    }

    .party-name {
      text-align: left;
      width: 110px;
    }

    .party-vote {
      width: 100px;
      input {
        width: 60px;
      }
    }

    .num-seats {
      width: 90px;
    }

    .total-seats {
      border-top: 1px solid;
    }
  }
  
  .button-container {
    width: 100%;
    flex-direction: row-reverse;

    button {
      width: 180px;
      margin: 12px 40px 0 0;
    }
  }

  .table-message {
    margin: auto 22px 8px;
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding: 0 28px 0 30px;
  margin-top: 20px;
  height: fit-content;
  cursor: pointer;
  user-select: none;

  span {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid white;
  }

  input:checked ~ span {
      &::before, &::after {
        display: block;
      }
  }

  span::before, span::after {
    content: "";
    position: absolute;
    display: none;
    margin-top: 8px;
    height: 2px;
    width: 14px;
    background: white;
    transform-origin: center;
  }
  
  span::before {
    transform: translate(5%, -50%) rotate(45deg);
  }
  
  span::after {
    transform: translate(5%, -50%) rotate(-45deg);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
  cursor: help;
  &:hover .tooltip-text {
    visibility: visible;
  }

  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #242424;
    border: 1px solid white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: -125px;
    top: -4px;
    z-index: 1;
  }
}

.party-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid white;
}

tr.party-box {
  display: block;
  margin: 8px 0;
}

.nat {
  /* background-color: #1e4882; */
  background-color: #00529f;
}
.lab {
  /* background-color: #d00a12; */
  background-color: #d82a20;
}
.gre {
  /* background-color: #0ca747; */
  background-color: #098137;
}
.act {
  /* background-color: #f3ca1e; */
  background-color: #fde401;
}
.nzf {
  background-color: #000;
}
.top {
  background-color: #09B598;
}
.tpm {
  /* background-color: #c37d23; */
  background-color: #b2001a;
}
.unk {
  background-color: #ccc;
}
.hea {
  background-color: #185533;
}
.dnz {
  background-color: #30B6C1;
}
.nzl {
  background-color: #FDB813;
}
.nco {
  background-color: #00AEEF;
}
.ind {
  background-color: #dcdcdc;
}
.can {
  background-color: #33cc33;
}
.blank {
  background-color: #ffffffaa;
}