.email-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  gap: 30px;

  input {
    margin: -24px auto 0;
    width: 300px;
  }

  button {
    width: 200px;
    margin: 0 auto;
  }

  textarea {
    margin-top: -24px;
    min-width: 400px;
    min-height: 200px;
  }

  div {
    margin: auto;
  }
}

.suggest-success {
  color: #098137;
  font-weight: bold;
}

.suggest-error {
  color: #d82a20;
}
